# Ignore everything
*
# But not these files...
!Standard Assets/
!Animations/
!Standard Assets/Characters/
!Standard Assets/Characters/ThirdPersonCharacter/
!Standard Assets/Characters/ThirdPersonCharacter/Scripts/
!Standard Assets/Characters/ThirdPersonCharacter/Scripts/*
!Standard Assets/Characters/ThirdPersonCharacter/Animator/ThirdPersonAnimatorController.controller
!Scenes/
!Scenes/SampleScene.unity

!.gitignore
!AimSight.cs
!AudioManager.cs
!GunScript.cs
!Recoil.cs
!Target.cs
!WeaponSwitching.cs
